[2015-01-01 22:47] dshelepov opened #3 "Default year gets stale in running instance during calendar year change"
In logstash-filter-date/lib/logstash/filters/date.rb, this line (163 at the moment):

    joda_parser = org.joda.time.format.DateTimeFormat.forPattern(format).withDefaultYear(Time.new.year)

will cause a problem when current year rolls over, because the filter will continue using the default year based on when the daemon was originally started, and not the current year.

[2015-01-02 09:52] wiibaa commented on #3
Also discussed in https://github.com/elasticsearch/logstash/issues/2306

[2015-01-02 12:40] jsvd commented on #3
This is a problem when parsing time formats that don't contain the year.
I don't think there's an elegant solution for now, since `.withDefaultYear` only takes an unboxed integer.
The fix is calculating the current year for each parse, changing [line 172](https://github.com/logstash-plugins/logstash-filter-date/blob/master/lib/logstash/filters/date.rb#L172) to:
`parsers << lambda { |date| joda_par

[2015-01-02 13:37] kiranos commented on #3
had this today, I use regular

[code]

this seems to be the standard way of using date with syslog (from reading book, etc) A restart solved it and now logs are coming in as expected again.

[2015-01-02 20:36] dshelepov commented on #3
Here is a possible solution.  Set up a thread-local cache consisting of two [month, year] key-value pairs.  When an event arrives whose month is already cached, just use the cached year.  Otherwise, look up current year, evict the oldest row and replace it with newest tuple instead.

This approach will work well unless we receive events more than one month old (in which case they can be dated inco

[2015-01-05 17:18] jordansissel commented on #3
Logstash historical behavior noted here:

In the past, before I found `withDefaultYear` Logstash would look at the pattern and see no  year and would know to inject the current year at parse-time:

* https://github.com/elasticsearch/logstash/blob/v1.1.13/lib/logstash/filters/date.rb#L156-L162
* https://github.com/elasticsearch/logstash/blob/v1.1.13/lib/logstash/filters/date.rb#L215-L233

The logic

[2015-01-05 17:36] jordansissel commented on #3
Here goes a little wild ride -"Hold on to your butts!" - https://www.youtube.com/watch?v=-W6as8oVcuM

The current behavior is not correct as many have noted. I also do not believe "use the current year" to be correct, either. I think the logic should be something like:

* Use the current year by default
* If the parsed timestamp is many months in the future from current real time, and there was no

[2015-01-05 19:20] wiibaa commented on #3
Adding my two cents for log backfilling use case, what if L-Time month is neither January or December and you need to backfill log of S-Time for last year (or even year-2)...
IMHO I would name the new setting `on_missing_year` with a string value that could take either a fixed year like `2013` or special values `COMPUTE` or `CURRENT`.
Thoughts?

[2015-01-05 19:59] dshelepov commented on #3
Does Time.now() call carry only a trivial perf cost?  I don't know about Ruby, but in other languages that is often not the case.  I'd be wary of making expensive system calls for every incoming event when a change in returned value expected only once per month.

In my reasonably complex production configuration (branching logic, multiple grok filters, field rewrites, etc.), date filter is already

[2015-01-05 21:01] jordansissel commented on #3
I will remove this implementation detail. It is not important for the discussion.

[2015-01-05 21:10] jordansissel commented on #3
@dshelepov if you have performance concerns with the date filter, I would love to address them. Can you file a separate ticket with your observations, config, and maybe a sample log?

[2015-01-05 22:56] dshelepov commented on #3
@jordansissel Sure, I'll be happy to file a perf-related ticket.  I'll do it later this week.  I can't provide my exact config due to NDAs, so I'll have to manually construct one and generate some example data that would illustrate an area for potential improvement.

[2015-01-07 06:34] dshelepov opened #5 "date filter is quite expensive"
I did some microbenchmarking (VM, 4 cores, 4 GB of ram, Ubuntu), and it appears the date filter can be quite hard-hitting in terms of affecting throughput.

I used the following config: http://pastebin.com/itvj3QDX (change filenames to get working paths/ permissions).

I tested with this artificial data: http://pastebin.com/ywJXk0yR multiplied by 20000 (`seq 1 20000 | xargs -Inone cat data.templat

[2015-01-07 06:37] dshelepov commented on #5
I opened this based on a suggestion from jordansissel offered in https://github.com/logstash-plugins/logstash-filter-date/issues/3 .

[2015-01-07 07:30] jordansissel commented on #5
First, thank you *so much* for putting in the energy for the analysis here.

I agree date filter performance needs to be better.

On your config, I think we need to improve your pattern to more closely match real-world scenarios. The date format "MMM d ..." matches `Jan 7` (one space), not `Jan  7` (two spaces). To fix this, we'll actually need two different patterns (one with 2 spaces and 1 `d` a

[2015-01-07 07:46] dshelepov commented on #5
Thanks for your fast response, Jordan, I appreciate it as well.  A couple of points.

Firstly, I'm aware of the two-space problem.  I had multiple patterns previously, and it turned out that this wasn't the most ideal approach, so I instead introduced the mutate clause to normalize all timestamps to 1 space.  On my real data, this showed real improvement, so unless I messed something up, I expect

[2015-01-07 08:15] dshelepov commented on #5
I tried reordering the patterns, and I found this was even slower, which is not surprising, because >50% of my sample data does not have ms in timestamps.

However I tried introducing a clause that would append `.000` upon finding a timestamp that does not have a `.` character, and removed the shorter pattern entirely.  This indeed helped bring down the cost of the filter significantly.  Unfortuna

[2015-01-15 08:32] arohter commented on #3
:+1:  on the proposal, although clarify that last `If this setting is disabled, then always use "current year" according to L-Time`...  Does this still imply that "current year" would be looked up for each log event (new behavior),  or that it would use the cached-at-startup year (old behavior) ?

[2015-01-19 23:00] jsvd commented on #3
We should agree that the current behaviour is broken, therefore the cached-at-startup year strategy has to be removed.

[2015-02-06 15:08] jsvd opened #9 "Multiple input fields to 1 date"
migrated from https://logstash.jira.com/browse/LOGSTASH-1956

Full text below:

Lets say I have 2 fields: date and time.
When I try to match these with the date filter, it won't work.

[code]

According to lieter in IRC (thank you!) I can use the mutate filter to solve that by creating an artificial "merged field":
[code]
This is a entirely unnecessary second step which further complicates the iss

[2015-02-06 15:09] jsvd commented on #9
Honestly I don't see the problem with the extra step with mutate. Also having multiple inputs would solve the issue when filed A has DAY and field B has MONTHDAY (not sure if that's the problem).

[2015-02-06 15:24] electrical commented on #9
The reason the initial solution fails is that its unsupported.
We only support a single source field and multiple patterns.
One could use the add_field option in the grok filter ( when using that ) to compile the required field with the date and time values.

[2015-02-06 15:27] jsvd commented on #9
maybe I didn't carry the correct meaning when migrating the issue here
the idea is to add this feature.

Isn't the add_field invoked after the filter has done it's work?

[2015-02-06 15:27] electrical commented on #9
add_field is indeed done after it yeah. but since the date filter is done after the grok filter, adding the add_field option to the grok filter would solve it.

[2015-02-06 15:29] jsvd commented on #9
I misread, correct :+1:

[2015-02-06 18:47] untergeek opened #10 "Make the ISO-8601 Time output configurable (timezone specific instead of always Zulu)"
Migrated from: https://logstash.jira.com/browse/LOGSTASH-520
Migrated from: https://logstash.jira.com/browse/LOGSTASH-2243

The desire expressed in these tickets is that a timezone other than Zulu/UTC be able to be output from the date filter.  Not every output goes to Elasticsearch or uses UTC.

[2015-02-06 19:26] wiibaa commented on #10
sprintf additional behaviour also described in https://github.com/elasticsearch/logstash/issues/2315

[2015-02-06 23:54] untergeek commented on #3
Found this at https://logstash.jira.com/browse/LOGSTASH-1744 as well.

[2015-02-07 00:23] jordansissel commented on #3
@wiibaa Yeah, I do agree we'll need support for "ancient" logs backfilling as well.

[2015-02-26 19:26] hartfordfive opened #15 "Enable variable interpolation in the timezone field."
Would it be possible to add the ability to allow for variable interpolation in the **timezone** field of the date plugin?  This would be useful in multi-tenant setups where servers from multiple timezones might ship their logs to one central Logstash server/cluster which is located in a different timezone.  It also avoids having a large conditional statement that would include every potential time

[2015-04-29 06:37] hakman opened #17 "Failure parsing ISO8601 date from Java logs"
Java loggers print ISO8601 dates in a several ways:
* [log4j](https://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/helpers/ISO8601DateFormat.html) - %d{ISO8601} => 2015-04-23 10:28:39**,**084
* [logback](http://logback.qos.ch/manual/layouts.html) - %date{ISO8601} => 2006-10-20 14:06:49**,**812 (same as log4j)
* [log4j2]() - %d{ISO8601} => 2012-11-02**T**14:34:02**,**781

Logstash fails to

[2015-05-17 23:45] jordansissel opened #18 "Date filter issues could not use log date"
(This issue was originally filed by @waleedsaud at https://github.com/elastic/logstash/issues/2194)

---

Date filter did not work for me on netscreen firewall logs and this is my config:

[code]

[2015-05-17 23:45] jordansissel opened #19 "Logstash - Date Plugin - What's wrong ?"
(This issue was originally filed by @tombishop-83 at https://github.com/elastic/logstash/issues/2273)

---

I provided two date format, but only one seems to work. Despite all three lines are being matched. Briefly, here is my config

[code]

Here is my input

09/03/2014 08:36:00
08/03/2014 05:44:00
2014-01-03 13:47:24

Here is the output

{
         "@timestamp" => "2014-03-09T08:36:00.000Z",

[2015-05-18 04:57] jordansissel opened #20 "Date filter truncates rather than rounds input"
(This issue was originally filed by @gerdesj at https://github.com/elastic/logstash/issues/1926)

---

I use %{SYSLOGBASE2} to parse the start of an RSyslog event.

Filter to get the date stamp from the original event:
date { match => [ "timestamp8601", "ISO8601" ] }

Example output in ES:
timestamp8601  2014-10-21T11:48:21.646972+01:00
@timestamp  2014-10-21T10:48:21.646Z

.646972 has been trunca

[2015-05-18 05:17] jordansissel opened #21 "logstash 1.5 RC1 - date filter not matching CET"
(This issue was originally filed by @dougmcclure at https://github.com/elastic/logstash/issues/2784)

---

This filter works fine for EST. Looks like 'z' should match any time zone represented as three letters or fully spelled out according to http://joda-time.sourceforge.net/apidocs/org/joda/time/format/DateTimeFormat.html.

Here's my filter:

date {
	match => [ "timestampOrig", "MM/dd/YY HH:mm:s

[2015-05-18 05:37] jordansissel opened #22 "Way to output date in Date filter"
(This issue was originally filed by @davmrtl at https://github.com/elastic/logstash/issues/2913)

---

In my scenario, the "timestamp" of the syslog lines Logstash receives is in UTC and we use the event "timestamp" in the Elasticsearch output:

    output {
        elasticsearch {
            embedded => false
            host => localhost
            port => 9200
            protocol => http

[2015-05-18 05:38] jordansissel opened #23 "Allow dynamic parsing of the timezone parameter to date filter"
(This issue was originally filed by @robinsmidsrod at https://github.com/elastic/logstash/issues/1685)

---

I'm using beaver to ship nginx error log to logstash, and it has an additional field with the timezone information from the server. I'd like to use the specified timezone to parse the timestamp properly.

[code]

[2015-05-18 22:35] suyograo opened #24 "Remove original timestamp field by default"
Date extraction and normalization in Logstash is typically two steps:
1. Since logs arrive in a wide variety of formats, grok filter is first used to extract them to a temporary field
[code]
2. Date filter is then used to normalize the extracted field to ISO8601 format and overwrite the canonical `@timestamp` field

[code]

Unless the user explicitly does a `remove_field => "timestamp"`, the origi

[2015-05-29 21:51] jordansissel commented on #23
I agree this is a good idea.

[2015-06-06 17:09] vchokshi opened #25 "Date filter requires at least one option?"
Hi - I tried to use the date filter by itself

filter { date {} }

and I got this error:

{:timestamp=>"2015-06-06T10:02:25.825000-0700", :message=>"Error: Cannot register filter date plugin. The error reported is: \n  The match setting should contains first a field name and at least one date format, current value is []"}

The documentation indicates no required option.

All I am trying to do is a

[2015-06-06 17:25] vchokshi commented on #25
I tried this workaround but I can't seem to get timestamp_end to populate.

date {
    match => ["timestamp", "MMM dd YYY HH:mm:ss",
          "MMM  d YYY HH:mm:ss", "ISO8601" ]
    target => "timestamp_end"
  }

the match should work give the timestamp = "Jun  6 10:22:25"

Am I doing something wrong?

[2015-06-06 17:37] vchokshi commented on #25
Here's a workaround.
 date {
    match => ["timestamp", "MMM dd YYY HH:mm:ss",
          "MMM  d HH:mm:ss", "ISO8601" ]
    target => "timestamp_end"
  }

Any chance we can add ms or even ns to this field to see processing time of ls from start to finish?

Thank you!

[2015-06-30 15:41] duylong opened #29 "No drop microseconds"
Hi,

Keep the µs precision. When we have a lot of messages, ms precision is not sufficient.

Best regards,

[2015-06-30 16:04] untergeek commented on #29
Currently, Elasticsearch is incapable of resolving more than ms precision.  This is the reason it's not a default option.  A way to preserve greater precision is being worked out.

[2015-07-01 08:11] duylong commented on #29
The main discussion can be found here: https://github.com/elastic/logstash/issues/3530

[2015-07-31 05:39] weiweiwang commented on #10
I'm a Chinese developer, our timezone is +08:00，the problem using logstash is @timestamp is always formatted as @timestamp" => "2015-07-25T16:00:30.000Z, the input time is 2015-07-26 00:00:30, this problem will casees 1 day log to be splitted to two indexes:logstash-2015.07.25 and logstash-2015-07.26

I tried to fix it by add logged_date field to represent 2015-07-26 in +08:00 timezone, however, i

[2015-07-31 05:53] hakman commented on #10
@weiweiwang you might want to take a look at the [timezone](https://www.elastic.co/guide/en/logstash/current/plugins-filters-date.html#plugins-filters-date-timezone) option.

If you want to ask more questions, I suggest using https://discuss.elastic.co/c/logstash.

[2015-07-31 06:06] weiweiwang commented on #10
thanks @hakman, I will put this problem to https://discuss.elastic.co/c/logstash

[2015-08-11 22:24] joshuar opened #30 "Backport better error messages?"
Filing this on behalf of a customer.  In Logstash 1.4.x, this filter produces confusing error messages when the timestamp doesn't match the configured patterns:

[code]

Would be nice if the raw exception was reinterpreted as is done in Logstash 1.5.x:

[code]

This makes it much easier for customers to understand what has gone wrong as it clearly indicates, the field, the value and the pattern in

[2015-08-11 23:03] suyograo commented on #30
We will not be backporting any fixes to 1.4 -- only the critical security issues. Any reason why the user can't upgrade to 1.5?

[2015-08-23 03:48] markwalkom commented on #15
+1 on this, it'd be nice to be able to pull this from the event if it contains it in a separate field.

[2015-09-13 17:46] jack-pappas commented on #20
I think truncation is the correct behavior here. I can't think of any other system that rounds time forward (i.e., treating the number of seconds like a normal number and applying standard rounding rules to it). If this is implemented, please make the behavior opt-in so the existing behavior is preserved.

[2015-10-12 07:42] purbon opened #32 "Additional separators in ISO8601 format"
Additional separators for ISO8601 format can be added, also matching ```Z``` and ```ZZ```, ```.```, ````SSS```, etc.

this comes out of a stale PR #26 closed because of not having the CLA signed.

[2015-10-30 19:27] ThomasdOtreppe opened #33 "Add option to handle dates without year when going from Dec 31st to Jan 1st"
Quite a few programs emit, by default, logs without any year in them. This is usually not a problem, unless a log from Dec 31 arrives just after midnight (on January 1st), the wrong year will be used and the log will be in the future.

Right now, for those applications, I have a lengthy and ugly workaround involving ruby and mutate filter before date is applied. Basically, what it does is check if

[2015-10-30 20:45] jordansissel commented on #33
Yeah this problem seems to happen every year, we'll see to it that it gets fixed before newyears ;P

[2015-11-02 16:39] purbon commented on #30
Closing this as it looks stale since August. happy to reopen if something change about backporting.

[2015-11-02 16:39] #30 closed

[2015-11-02 16:40] purbon commented on #29
Related to #8

[2015-11-02 16:45] purbon commented on #25
@vchokshi first question, you require what you just discover, the pattern to do the conversion. This plugin  is about normalizing timestamp, not generating them. Please see https://www.elastic.co/guide/en/logstash/current/plugins-filters-date.html for more details.

re: second question: this is being workout at #8

Closing this as duplicate of #29 and because of the first question being already an

[2015-11-02 16:45] #25 closed

[2015-11-02 16:53] purbon commented on #22
Related to #24, as having always one timestamp will simplify this issue and reduce probabilities of errors.

[2015-11-02 16:56] purbon commented on #22
What I think might have happen here is a misunderstanding between the expected timestamp format ```UTC``` and the machine timestamp ```GMT-4```. using the filter to run the conversion would be always necessary, but having something like #24 will make this things less error prone.

[2015-11-02 17:20] jsvd commented on #33
possible fix here https://github.com/logstash-plugins/logstash-filter-date/pull/4 :)
its performance impact hasn't been tested yet, and I recall that the specs would sometimes fail

[2015-11-02 17:21] purbon commented on #33
@jsvd speaks still fail for me, we need to find why they are failing.

[2015-11-03 11:43] purbon commented on #21
Not just in 1.5, but last versions too, see #34 for a work in progress PR to get this issue fix. Include a failing test that validates this issue.

[2015-11-03 13:27] purbon commented on #21
Fun thing, is the way we use Joda works as expected for some of the timezones listed in http://joda-time.sourceforge.net/timezones.html, but not for all. works for PST, but not for CET.

[2015-11-03 13:51] purbon commented on #21
From https://github.com/JodaOrg/joda-time/commit/14863a51230b3d44201646dbc1ce5d7f6bb97a33 and what we can see at https://github.com/elastic/logstash/issues/2784 this issue is still not solved, and should be solved upstream. however there is a workaround for now that is to use the ZZZ (timezone ID) pattern. This will provide parsing capabilities from all ID's present at http://joda-time.sourceforge

[2015-11-03 13:58] purbon commented on #20
This issue is about supporting nano precision, it relates to #29

[2015-11-03 14:07] purbon commented on #19
tested this with the last version of this plugin and can not reproduce. closing this for now, feel free to reopen in case the issue surfaces again. Thank for your contribution.

[2015-11-03 14:07] #19 closed

[2015-11-03 14:11] purbon commented on #18
Tested this with the last version of this plugin and can not reproduce. closing this for now, feel free to reopen in case the issue surfaces again. Thank for your contribution.

[2015-11-03 14:12] #18 closed

[2015-11-03 14:26] purbon commented on #17
@hakman thanks for your report, this is actually a nice issue as ISO8601 actually allow both as separators for fractions, so both should be accepted.

[2015-11-03 14:29] purbon commented on #17
however acording to http://joda-time.sourceforge.net/apidocs/src-html/org/joda/time/format/ISODateTimeFormat.html#line.774, the method used to create the ISO8601 parser this should understand commas as separators.

[2015-11-03 14:38] purbon commented on #23
duplicated of #15

[2015-11-03 14:49] purbon commented on #17
I see this issue more about Joda, the internal library used, that require T as a separator between the time and date. According to the ISO standard,

[2015-11-03 15:10] #23 closed

[2015-11-03 15:14] purbon commented on #9
I agree with @electrical I don't think we should implement this kind of feature, we've wither grok or mutate to compose the right timestamp format.

Closing this for now, we might reopen if something new surfaces.

[2015-11-03 15:14] #9 closed

[2015-11-03 16:02] #15 closed

[2015-11-03 16:02] purbon commented on #15
Fixed in #31

[2015-11-03 16:03] purbon commented on #33
Related to #3

[2015-11-03 16:54] purbon commented on #32
related to #17

[2015-11-03 16:54] purbon commented on #32
Fixed in #35

[2015-11-04 09:01] hakman commented on #17
@purbon Thanks for fixing this!

[2015-11-04 09:04] purbon commented on #17
you're welcome. waiting to finish some other work in here and I will release a new version of the plugin.

[2015-11-04 09:58] #3 closed

[2015-11-04 10:00] jsvd commented on #33
fixed in #4

[2015-11-04 10:00] #33 closed

[2015-11-04 20:52] andrewvc opened #38 "Add formatting option info to docs"
We should include the formatting symbol options from http://ruby-doc.org/stdlib-2.0.0/libdoc/date/rdoc/DateTime.html#method-i-strftime here.

[2015-11-12 21:25] mvernimmen-CG commented on #10
Having an option to specify the timezone for output would be great. Currently any file we write out of logstash which uses timestamp, writes it in UTC. This is not what we want.
So +1 for getting this feature added :)

[2015-11-17 13:38] purbon opened #39 "Unit test broken for JDK7"
See: http://build-eu-00.elastic.co/view/LS%20Plugins/view/LS%20Filters/job/logstash-plugin-filter-date-unit/jdk=JDK7,nodes=metal-pool/14/console

[code]

[2015-11-24 23:05] digitalpacman opened #40 "date filter doesn't work on ruby date objects"
A situation is you use the jdbc input filter to pull from a sql database and attempt to toss this information into elasticsearch.  You are dumping time related dated so you wish to change the @timestamp field.  So you add:

    filter { date { match => ["field", "ISO8601"] } }

This fails because the jdbc turns the field into a ruby date object, which is really common for any filter that reads fro

[2015-11-27 10:00] mmuszkow commented on #21
The workaround doesn't seem to work for me:
[code]
This helped:
[code]
logstash 2.1.0
logstash-filter-date 2.0.2

[2015-12-02 03:58] jordansissel commented on #5
I did some experiments here with respect to date filter performance during a failed match.

Some sample code to test the cost of a certain number of parse failures when multiple matches are given:

[code]

The performances gets significantly worse as the number of failed parses per-event increases.

[code]

With 0 failures, speed is fairly fast (0.27 seconds for 10,000 events; ~37,000 per second).

[2015-12-02 04:02] jordansissel opened #41 "Parse failures incur a significant performance penalty"
Related to #5.

A discussion with @sherry-ger today reminded me of an old problem with the date filter. I did some experiments here with respect to date filter performance during a failed match.

Some sample code to test the cost of a certain number of parse failures when multiple matches are given:

[code]

The performances gets significantly worse as the number of failed parses per-event increas

[2015-12-02 04:03] jordansissel commented on #5
Moved my prior comment into a new ticket - #41

[2015-12-02 04:08] jordansissel commented on #41
All the Joda DateTimeFormatter methods that do parsing seem to raise IllegalArgumentException on failure and I didn't find any way to check if a time string matched as a valid format without an exception.

[2015-12-02 04:21] jordansissel commented on #41
JRuby 9.0.3.0 still appears to be affected

[code]

[2015-12-02 04:23] jordansissel commented on #41
I think we'll have to solve this by wrapping up some of the date filter's behavior into a Java library. The date filter could use a bit of love and refactoring, anyway, so this is a good excuse to apply some love.

[2015-12-09 23:18] ruddj opened #46 "New commits break parsing Syslog data"
Good Day,
 I was testing the latest date.rb file (5223c0c25042b4dd5823bc90d97d75fdcb6c943b) and found it no longer recognises syslog yearless input. I beleive this is due to an earlier commit, either the 38700f2934fa7a26b369592622c5071287a96030 or 7e39e7775f8d802206c6b8cf778214af8bc8dbd0 .
[code]

My matching code is as follows and worked with the 2.0.2 tagged release.
[code]

[2015-12-09 23:40] ruddj commented on #46
From what I can gather it is matching "Dec 10 09" as "MMM dd yy" rather than "MMM dd HH:mm:ss".
This may be related to line 172 using /y in the match, or somewhere else where it is matching without checking for a space after the year.

[2015-12-10 00:12] wiibaa commented on #46
Hello @ruddj
Can you please describe how you are  executing your test and on which LS version ?
Because from the source of the plugin, adding your test case to the spec, I cannot reproduce your error when running `bundle exec rspec`. Thanks

[2015-12-10 00:35] ruddj commented on #46
Hi @wiibaa,
 I have Logstash 2.1.0 installed and collecting syslogs from a few different servers. Last year we had problems with the NY rollover so I was trialing the latest code with the New Year fix in preparation of Jan 1st.
To test it I downloaded the latest date.rb to /opt/logstash/vendor/bundle/jruby/1.9/gems/logstash-filter-date-2.0.2/lib/logstash/filters and restarted LogStash. Immediately

[2015-12-15 07:54] runningman84 opened #48 "ISO8601 does not work for sensu timestamp"
Sensu generates timestamps like this:
2015-12-11T14:05:07.154701+0000
It looks like ISO8601 with enhanced subsecond resolution?

[2015-12-15 23:38] jordansissel opened #49 "Tests failing under JDK7"
http://build-eu-00.elastic.co/view/LS%20Plugins/view/LS%20Filters/job/logstash-plugin-filter-date-unit/jdk=JDK7,nodes=metal-pool/11/console

[2015-12-15 23:39] jordansissel commented on #49
[code]

[2015-12-16 00:20] jordansissel commented on #49
Reproduced manually on a digitalocean CentOS 6.7 box w/ OpenJDK 1.7.0_91

[2015-12-16 23:11] jordansissel commented on #49
Debugging this one: `  2) LogStash::Filters::Date parsing with java SimpleDateFormat syntax "{"mydate":"Nov 24 01:29:01 -0800"}" when processed
`

pry:
[code]

[2015-12-16 23:25] jordansissel commented on #49
O_o

Java 7, JRuby 1.7.23:

[code]

Java 8, JRuby 1.7.23

[code]

Under Java 7. DateTimeFormatter#month_of_year returns 11 (a Fixnum). Under Java 8, DateTimeFormatter#month_of_year returns a DateTime::Property.

This `month_of_year` thing is JRuby squeaking around with the method table to map "java-ish" accessors to "ruby-ish" accesors. In truth, `Obj#foo_bar_baz` in JRuby/Ruby will map to a Java

[2015-12-16 23:28] jordansissel commented on #49
THE PLOT THICKENS.

http://www.joda.org/joda-time/apidocs/org/joda/time/DateTime.html#monthOfYear--

There's a property method `monthOfYear` and a `getMonthOfYear`. I suspect this is just JRuby ordering the method calls differently when deciding what to invoke, maybe.

Still, bug in JRuby or not, I think we really should be explicit and call the java method directly by name, not use the ruby-ish m

[2015-12-17 00:26] jordansissel commented on #49
As if by magic, all 3 failing tests are fixed by c805db7. Will send a PR.

[2015-12-17 08:01] ppf2 opened #51 "Default year, month and date when not specified"
Currently in LS 2.1, the following is the behavior when the date filter encounters a datetime field without the full "date" portion of the datetime.

Example 1:

When `no date information is provided, and only the time is available`, we default the `year to 1970, month to 01 and day to 01`.

[code]

Example 2:

When `no year information is provided, and only the month and day is available`, we `de

[2015-12-17 18:09] ppf2 commented on #51
I am going to tag this as a bug also.  Making it configurable is probably a feature request, but defaulting to 1970-01-01 for the use case of having only time (not date) information doesn't seem to make sense.

[2015-12-22 15:35] ph opened #52 "Test failling when run under logstash"
[code]

This is due with the way we mock the time to simulate the date changes and we impose a fix amount of call to `Time.now`. But it fail since `stoppable_sleep` is also calling `Time.now` to adjust the skew of time when sleeping.

[2015-12-22 18:47] #52 closed

[2015-12-23 08:36] runningman84 commented on #48
this was my fault, everything is working as expected...

[2015-12-23 08:36] #48 closed

[2015-12-29 22:14] jordansissel commented on #51
I agree the behaviors are weird. On the other hand, I do not like guessing. I will explain.

Some background: We currently do one kind of guessing to fudge the date in hopes of making it correct  and that's across year boundaries. For example, if Logstash's current time is Dec 31 2015 and it receives a time with no year but "Jan 1" as the month and day, it will hope the year is correctly to be 201

[2015-12-30 00:01] ppf2 commented on #51
Certainly agree on the guesswork being complicated.  It is probably sufficient to simply document our current "guess" logic.  I think the guesswork for most of these examples are sensible today, other than the first example where there is no date at all (just time info).  For this case, it seems better to default to the current date vs. 1970-01-01 for new log lines writing out just time informatio

[2015-12-30 03:35] jordansissel commented on #51
@ppf2 I kind of agree with you, but I'm almost leaning towards maybe rejecting date filter configurations that are missing too much data (no month, day, year, etc) rather than guessing "now" as the correct time (and still be incorrect in many situations).

This is a funky situation. Maybe the first step is to document that behavior is undefined if time formats that are _missing_ important data. Se

[2016-01-07 11:23] runningman84 opened #54 "TIMESTAMP_ISO8601 inconsitency"
There are a lot of logs like this:
"2016-01-05 16:04:23,445 Hello World"
For example elasticsearch, aws cfn, ...

You can parse them with this grok regex:
[code]
Now you would expect to extract the date like this
[code]
But the date parsing does not work, you get a dateparsefailure
This solution seems to work:
[code]

In my opinion the grok filter should not match the TIMESTAMP_ISO8601 pattern or

[2016-01-07 11:24] runningman84 commented on #54
duplicate of https://github.com/logstash-plugins/logstash-filter-date/issues/17

[2016-01-07 11:24] #54 closed

[2016-01-07 11:24] runningman84 commented on #17
Any ETA for a release here?

[2016-01-07 11:30] jsvd commented on #17
the current version of this plugin (2.1.1) includes the fix for this:

[code]

[2016-01-07 11:30] #17 closed

[2016-01-18 22:05] jordansissel opened #55 "Test"
(testing slack integration)

[2016-01-18 22:09] jordansissel commented on #55
test

[2016-01-18 22:10] #55 closed

[2016-01-26 22:55] suyograo commented on #51
@jordansissel @ppf2 I like giving the user an option to configure the default year, if no date component is present in the logs. Something like `missing_year_default` with values of `current` | `1970`. The default can continue to be existing behavior -- inititalize year to 1970, but this option could init it to current year. This will also preserve backward compatibility.

Thoughts?

[2016-01-26 23:06] jordansissel commented on #51
@suyograo my hesitation in that solution is that we already have had bug fixes to "assume current year" - our current behavior for a missing year is to try and guess what the year was supposed to be -- like if the real time is January but the log says December, we say year is "previous year" (2015).

We can do similar for boundary cases, where if there's a missing day, we assume the day is "today"

[2016-01-26 23:45] ppf2 commented on #51
What about missing_year_default with 3 options:

* `default` (i.e. 1970)
* `current` (i.e. 2016 as of today)
* `custom` ("valid" year the user wants to pass in)

And document that "current" option is really a "best effort" guess - which is why we also provide a custom option for the user to specify the default year to set to when no year, date and month information are available.  This will give i

[2016-01-26 23:58] suyograo commented on #51
I agree that our guessed year might be off for scenarios like above, but having everything default to 1970 will mean all those logs are not searchable (especially if you use Kibana). Like @ppf2, I agree that having a best guessed year is more useful.

How about we meet in the middle :) - tag log event saying we guessed it (`year_defaulted_current`) and default to current calendar year without any

[2016-01-27 00:07] jordansissel commented on #51
I don't even think it should be configurable, my opinion on values:

* 1970 - never the correct guess.
* current (real time) - better than 1970, but will be incorrect in some cases (*)

For month and day, we want similar things:

* January - Correct 1/12 of the time
* current (real time) - correct most of the time, but incorrect in some known cases (*)

* Day 1 - Correct 1/{28,29,30,31}th of the t

[2016-01-27 00:09] jordansissel commented on #51
One other constraint, with @guyboertje exploring a file input that can read files once (for batch input), we will add an additional difficulty that for logs missing important data (day, month, etc), we are even more ilkely to guess incorrectly.

[2016-01-27 00:18] suyograo commented on #51
+1, i like the idea of:

with no configuration and try to deduce ambiguity/drifts

[2016-01-27 00:32] ppf2 commented on #51
+1 thx!

[2016-02-03 15:59] cyril-steimer commented on #51
I think this should certainly be configurable. In our setup, we essentially have a date field repeated three times: Once as the full date + time, once as the date only and once as the time only. As we have the timestamp set to date + time, there is no issue with not finding old data.
However, using the time only field allows us to easily look at performance depending on time of day (which to my kn

[2016-02-12 15:26] madidier opened #57 "The "fallback parser to english" does not correct the year"
The [english parser](https://github.com/logstash-plugins/logstash-filter-date/blob/master/lib/logstash/filters/date.rb#L205) used as a fallback when the locale's language is not english does not automatically correct the year as the main one does. This can be quite confusing as the examples given in the documentation do not explicitly specify a locale, and are, therefore, system-dependent.

[2016-03-04 00:28] ceeeekay opened #58 "Variable timezones not parsing correctly."
We have syslog logs shipping from multiple timezones, so need to use the timezone directive in the date filter.

In order to keep configs sane I've tried using `timezone => %{timezone}` but the filter doesn't parse the date correctly.

Basic config:

input {
  stdin {
    codec => json
  }
}
filter {
   date {
    match => [
      "timestamp",
        "MMM  d HH:mm:ss",
        "MMM dd HH:mm:ss"

[2016-03-04 00:58] ceeeekay commented on #58
@torrancew, FYI.

[2016-03-04 08:09] wiibaa commented on #57
It was also found out in https://discuss.elastic.co/t/date-filter-stuck-in-2000/43103 that the fallback parser used with syslog pattern (missing year) set the date to 2000

[2016-03-04 08:12] wiibaa commented on #58
Can you please check the locale configuration of your system. I suspect you are hitting an issue with the english fallback parser.
If so, please add `locale => "en" ` to your date filter configuration

[2016-03-04 21:13] ceeeekay commented on #58
Hi @wiibaa I've added `locale => "en"` but still get the same year 2000 date results.

[2016-03-07 06:27] wiibaa commented on #58
Hi @ceeeekay , you spot a bug!
I submitted a fix, if you need a workaround to inject the current year you could do something like

[code]
and add `yyyy` to your patterns in the date filter

[2016-03-07 08:08] ceeeekay commented on #58
@wiibaa, awesome - thank you for getting it sorted.
I'll wait for the patch to reach GA, as I don't want to edit all my syslog filters if there is a fix on the way.

Thanks again!

[2016-03-07 19:14] wiibaa commented on #49
@jordansissel is there still job to be done on this as tests are green again ?
Also can you confirm #39 was a dup of this.

[2016-03-18 12:13] wiibaa commented on #32
@purbon can you confirm this can be closed ?

[2016-03-29 17:40] Xylakant opened #62 "Fails to parse a timestamp that would be next years DST switchover for CET"
This is a bit a weird one and took me a bit to debug. The date filter fails to parse a timestamp that would be next years DST switchover for CET (and thus won't exist) if no explicit date is given. It's probably best explained by a testcase. The following test fails:

    describe "don't fail on next years DST switchover in CET" do
      config <<-CONFIG
        filter {
          date {

[2016-03-29 18:53] wiibaa commented on #62
@Xylakant good catch, the code is different when no year is present in the pattern and it must be changed to behave similarly than joda parser

[2016-03-30 13:36] #62 closed

[2016-05-24 16:09] wiibaa commented on #58
published in 3.0.1

@suyograo can you close please

[2016-05-24 16:09] wiibaa commented on #57
published in 3.0.1

@suyograo can you close please

[2016-05-24 16:11] #57 closed

[2016-05-24 16:11] #58 closed

[2016-05-24 19:20] wiibaa commented on #49
@suyograo can you close please

[2016-05-24 19:20] wiibaa commented on #39
@suyograo can you close please

[2016-05-24 19:21] #49 closed

[2016-05-24 19:21] #39 closed

[2016-05-24 19:23] wiibaa commented on #38
Fixed by #60

@suyograo can you close please

[2016-05-24 19:29] #38 closed

[2016-06-12 21:41] prehor opened #66 "Exception with interpolated timezone"
When I use interpolated variable for timezone I got exception:

{
    :timestamp=>"2016-06-12T21:11:52.153000+0000",
    :message=>"Failed parsing date from field",
    :field=>"[@metadata][syslog][timestamp]",
    :value=>"Jun 12 03:13:22",
    :exception=>"wrong number of arguments (2 for 1)",
    :config_parsers=>"MMM dd HH:mm:ss,MMM  d HH:mm:ss",
    :config_locale=>"default=en",
    :level=>:

[2016-06-22 13:50] vishwastyagi commented on #23
Hi Everyone,
I am not to use date filter like the way mentioned above.
Help is required.
I have an xml which I am pushing into elasticsearch from logstash

2016-09-23

My filter is:

filter{

mutate {
add_field => [ "nginx_timestamp", "/RECORD/DATE/text()" ]
}
date {
match => [ "nginx_timestamp", "yyyy-MM-dd" ]
}
mutate {
remove_field => [ "nginx_timestamp" ]
}

}

I am getting warning in logstash

[2016-06-24 06:39] wiibaa commented on #23
@vishwastyagi Please raise your usage question to https://discuss.elastic.co/c/logstash and you will receive support there

[2016-09-12 11:45] dkirrane opened #68 "wrong number of arguments (2 for 1) when using the %{field} syntax for the timezone setting"
- Version: logstash:2.3.4-1
- Operating System: Ubuntu running Logstash Docker logstash:2.3.4-1

Logstash throws the following when I use a `timezone => "%{timezone}"` field which is part of the event:
[code]

[code]

[2016-09-12 12:51] dkirrane commented on #68
I think this maybe because of the timezone field generated by log-courier does not use joda timezone ids.
So opened an issue with log-courier
[](https://github.com/driskell/log-courier/issues/345)

[2016-09-12 16:13] #68 closed

[2016-09-27 12:22] prehor commented on #66
I have investigated the problem and found a mistake in may configuration - [@metadata][syslog][timezone]  does not contains valid zone name for some hosts and it was the root of the problem.

Would it be possible to add information about used timezone to the exception?

[2016-09-28 22:48] excalq opened #69 "Exception thrown due to dates with microseconds"
I'm attempting to ingest logs into our ELK stack, and these logs, coming from an in-house Ruby app have the time in this format:
`2016-09-28T15:38:57.302000-0700`. Even though I've tried to add a custom filter using the date plugin to handle `ISO8601`, `ss.SSSSSS`, `ss.SSS???`, or `ss.SSS000`, they all fail with the same exception, as follows:
[code]

Also, I have no problem with simply dropping t

[2016-09-28 23:04] excalq commented on #69
Interestingly this microsecond format comes from the StdLib logger, as a default: See https://github.com/ruby/ruby/blob/ruby_2_1/lib/logger.rb#L514

[2016-09-29 00:32] excalq commented on #69
Hmm, this was my fault. Apparently some log entries of our app have a format of `{"status":"finished","time":0.343048734}`, which shows runtime, not a timestamp. Sorry for the false alarm (if this does prove to be the cause of said issue).

[2016-09-29 00:32] #69 closed

[2016-10-18 14:16] gmoskovicz commented on #41
@jordansissel

looks like this issue gets obvious when you have a date filter like the following:

[code]

This filter will be faster from the 1 to the 9 of the month, but when you have two-day format it gets worse. We are going to fail at least 1 time per message since the first matching will always fail in 30% of the month, killing logstash's performance. I am going to make some extra investigat

[2016-10-18 15:11] gmoskovicz commented on #41
## Date filter with failing
----------------------------
[code]
----------------------------

508,032 documents
11:51:15 - 11:52:43 = 88 seconds
Average Rate: 5700 documents per seconds

## Date filter whithout failing
----------------------------
[code]
----------------------------

508,032 documents
12:03:15 - 12:04:19 = 64 seconds
Average Rate: 7900 documents per seconds

Just by removing a fai

[2016-10-27 16:06] guyboertje opened #70 "I18n translate path is bad on configuration errors - because it was changed upstream."
LS 5.0
[code]
should be `"logstash.runner.configuration.invalid_plugin_register"`

[2016-10-31 10:43] joshuaspence opened #71 "Match field should be a hash"
It seems really strange to me that the `match` field accepts an array rather than a hash. It is also inconsistent with some other filters, such as the `grok` filter, which accepts a hash for the `match` field. Basically, this syntax seems very strange to me:

[code]

It feels much more intuitive to configure the filter as follows:

[code]

[2016-10-31 18:42] jordansissel commented on #71
I agree that it is strange. The reason for the syntax is historical and continues to exist to avoid breaking backwards compatibility.

If we can come up with a way to help users upgrade to the new syntax, I'm open to this change.

[2016-11-14 20:53] s33butler opened #75 "Issues with dates/times that don’t have a timezone (Logstash/Kibana)"
I was asked to submit an issue by andrewvc for my use case...
https://discuss.elastic.co/t/issues-with-dates-times-that-dont-have-a-timezone-logstash-kibana/66008/5
- Version: logstash 2.3.4
- Operating System: RHEL 7

The basic issue is when I try and replace @timestamp with another date, the times on all other dates are 5 hours off in Kibana because they are stored without a timezone and Kibana

[2016-11-15 02:43] jordansissel commented on #41
#71 fixes this.

[2016-11-15 02:43] #41 closed

[2016-11-15 02:44] jordansissel commented on #5
#74 solves this.

[2016-11-15 02:44] #5 closed

[2016-11-15 02:46] jordansissel commented on #40
Is this still an issue? A field should never be a "ruby date object" -- if it is, it's a bug in the plugin that produced that event, I think.

[2016-11-16 13:11] jsvd opened #77 "Feature: 'date' filter supports grok patterns"
from @vdun at https://github.com/elastic/logstash/issues/6264

Let the `date` filter supports grok patterns instead of `joda.time.format.DateTimeFormat`.
e.g. for apache access log, instead of  using:
`date {match => [ "timestamp" , "dd/MMM/yyyy:HH:mm:ss Z" ]}`
->
`date {match => [ "timestamp" , "%{HTTPDATE}" ]}`

[2016-11-16 15:16] ph opened #78 "Filter date 3.1.0 pushed on rubygems is missing a file"
The gems on rubygems seems to be missing a date_jars file? I came accross this issue when testing the docgen branch.

[code]

[2016-11-16 16:47] mcandre commented on #78
+1

[2016-11-16 17:39] guyboertje commented on #78
The problem is that the gem package task is not dependent on the vendor task

[2016-11-16 17:42] DBARUNNER opened #79 "How to filter tweets based on date ?"
i use logstash_twitter_input plugin to get data i have a field by the name @timestam => 2011-11-16T03:44:01.103Z now i want to filter it with logstash_date_filter plugin to get new data not old data for exampe today date is 2011-11-16T03:44:01.103Z and i want get just tweets that @timestamp match to 2011-11-16T03:44:01.103Z not tweets that have @timestamps = 2011-11-15T03:44:01.103Z

her is my log

[2016-11-18 23:47] izhou99 opened #81 "Feature Request: Be able to drop events outside of time window"
It would be nice to be able to specify a time window in this plugin. If an event falls outside of the window, the event will be dropped

[2016-11-21 16:39] suyograo commented on #78
Fixed in 3.1.1

[2016-11-21 16:39] #78 closed

[2016-11-22 00:23] andrewvc commented on #75
Hi @s33butler . I think it's a reasonable request that if you've got a lot of date fields you should be able to do this in one `date` filter invocation.

You are correct, by the way, that adding the UTC offset should just fix the problem.

That being said, I think it'd be nice if you let you match against N different source fields and automatically copied them to similarly named destinations.

[2016-11-30 23:17] jordansissel commented on #81
I like the idea, but for this specific request, I think this is outside the scope of the date filter. The purpose of the date filter is to take some text input and parse it into a time value a computer can do useful things with.

Dropping things older than a given date is probably best done in a new filter.

[2016-11-30 23:17] #81 closed

[2016-11-30 23:49] jordansissel commented on #79
I recommend you ask questions like this on our community support forum, https://discuss.elastic.co/

[2016-11-30 23:49] #79 closed

[2016-12-16 12:01] runningman84 opened #83 "Add metric for date parse failures"
These are the current metrics:
[code]
Please add the number of date parse failures?

elastic/logstash#6405 (comment)

[2016-12-21 21:36] ph opened #84 "Regression: Parsing a field of type float will result in a date parse failure"
This was reported by @msimos

When you use the **JSON filter** for parsing a json string and use a parsed field of the float type it will make the date filter fails.  Converting the field to a string with the mutate will make the parsing succeed.

**Sample json**
[code]
**Config**
[code]

**Results**
[code]

Another interesting issue if we use the json codec instead of using the json filter the da

[2016-12-22 12:01] guyboertje commented on #84
@ph I suspect you are correct.
In the JSON codec the code path uses the pure Java `fromJson` method which will create a DoubleBiValue and the Date filter has a Java converter method for Double.
In the JSON filter, the code path uses JrJackson and a BigDecimalBiValue will be created and the Date filter does not know how to handle that.

This is the risk we took by having two different JSON processo

[2016-12-22 13:29] ph commented on #84
I believe BigDecimal is the way to go to.
My guts where pointing at BiValues. :)

Also added the note about 2.4.

[2016-12-30 16:07] ph opened #85 "Cannot build the master branch of the `logstash-date-filter`"
The gradle build is failling and complaining about a missing class.

[code]

Full trace: https://travis-ci.org/logstash-plugins/logstash-filter-date/builds/186838287

This problem was discovered in https://github.com/elastic/logstash/pull/6404#issuecomment-269786141 because the version 3.1.2 of the gems was missing the jar, I think this version was manually published because jarvis would never all

[2016-12-30 16:08] ph commented on #85
from 3.1.1 to 3.1.2 appear to be only docs changes.

`Docs: Fix date format used in examples`

[2016-12-30 20:28] jacobweber commented on #84
I have this exact problem, but converting the floats to strings didn't work, since it resulted in strings like "0.14761403301869E10" (when the float was 1476140332.1238). The date parser doesn't fail, but it returns a timestamp like 1970-01-01T00:00:00.147Z.

Anyone know a workaround?

[2017-01-02 16:49] jordansissel commented on #85
Strangely, it builds for me, but I do notice my `gradle.properties`, when generated, points at Logstash 5.0.0, not 5.1.2

[code]

[2017-01-02 16:55] jordansissel commented on #85
Ok I can confirm that:

* This compiles fine under Logstash 5.0.0
* This fails to compile under Logstash 5.1.1

[code]

[2017-01-02 16:56] jordansissel commented on #85
logstash-core gem v5.1.1 is missing jars:

[code]

[2017-01-09 13:59] jsvd commented on #85
I still can't run `rake vendor`, after the release of 5.1.1.1 core gems:

I tried doing `bundle install --path=vendor`, and checked that the jars are in the vendor directory:

[code]

[2017-01-11 06:21] imweijh commented on #10
timezone option does the work, thanks very much @hakman

[2017-01-11 06:24] imweijh commented on #10
+1

[2017-01-12 15:17] almico opened #86 "_dateparsefailure on previously valid UNIX timestamp"
- Version: logstash 5.1.1
- Operating System: CentOS Linux release 7.3.1611 (Core)
- Java version: java version "1.8.0_112"
- Sample Data: 1484175605.258932

I was successfully parsing ts=1484175605.258932 as a UNIX timestamp, using

[code]

with logstash 5.0.2.
I just upgraded to logstash 5.1.1 and now, with exactly the same timestamp, I get "_dateparsefailure".

[2017-01-12 15:22] jsvd commented on #86
Strange, I can't seem to replicate your issue:

[code]

[2017-01-12 15:27] almico commented on #86
Interesting indeed.
Your code works. Mine is buried in a filebeat sent to a logstash that then converts the message with the json filter and can handle multiple data types.
Everything was working perfectly with 5.0.2.
I will try to strip everything else to see what causes this issue.
Will be back asap :-)

[2017-01-12 15:45] almico commented on #86
Ok, I think I found the cause:
I had to add the following code to make it work:

[code]

Before applying this fix, rubydebug was reporting "ts" as a float, I think. This is its output:

[code]

And now that I am using mutate to make sure the type is "float", rubydebug shows "ts" exactly like before.
Anyway: I still think that logstash 5.1 should be able to handle my sample unix timestamp as it pro

[2017-01-12 15:53] almico commented on #86
The following returns "_dateparsefailure":
[code]
And the following works fine:
[code]

I hope I copied everything properly.

[2017-01-12 15:53] jsvd commented on #86
Strange again..in my first example the message was a string, and now I tried converting it first to float:

[code]

[2017-01-12 15:54] jsvd commented on #86
@almico ahh! awesome, a failing case! thank you, let me investigate

[2017-01-12 15:54] almico commented on #86
:smile:

[2017-01-12 16:08] jsvd commented on #86
Interesting, so the number is being loaded from json as a BigDecimal:

[code]

Checking why date filter doesn't handle this well

[2017-01-12 16:12] almico commented on #86
Does it mean that I hit a bigger issue, actually?

[2017-01-12 16:19] jsvd commented on #86
@almico it is a nice find, and it is contained in the filter date, not a problem in core.

So, the json loader converts that number into a BigDecimal (both in logstash 5.1 and 5.0), but the date filter had a rewrite in java which is included in logstash 5.1

In this rewrite, the method responsible for parsing is overloaded for different classes like [String](https://github.com/logstash-plugins/log

[2017-01-12 16:25] almico commented on #86
Great to hear that.
Thank you for looking into it.

[2017-01-12 20:21] jordansissel commented on #86
@almico Thank you for so much great detail and work to isolate this problem :)

[2017-01-12 21:15] jordansissel commented on #86
@jsvd This PR fixes the compile problem you and I hit: https://github.com/logstash-plugins/logstash-filter-date/pull/87

[2017-01-12 21:37] almico commented on #86
Thank you for the quick reaction 😃

[2017-01-12 21:38] jordansissel commented on #86
@almico I'm planning to fix this today or tomorrow; I'll add test coverage for this so that it doesn't break in the future <3

[2017-01-13 13:21] hkarakose opened #88 "Error about logstashCoreGemPath property during ./gradlew"
Hello
I am getting following error:

[code]

I think this error is about commit #87

[2017-01-13 13:27] jsvd commented on #88
can you try removing your `gradle.properties` file trying again?

[2017-01-13 18:21] jordansissel commented on #86
I was looking through the test suite, and we actually test this particular kind of number *BUT* we don't test it having come through the JSON parser, oops.

Here's the test we have for this:

[code]

I'll update this to add BigDecimal support.

[2017-01-16 12:55] hkarakose commented on #88
I didn't have a `gradle.properties` file.
I just run `bundle exec rake vendor` and `./gradlew`. Now, I don't take any more errors.
Thank you.

[2017-01-16 12:55] #88 closed

[2017-01-17 11:11] jsvd commented on #85
this has been fixed by https://github.com/logstash-plugins/logstash-filter-date/pull/87

[2017-01-17 11:11] #85 closed

[2017-01-18 18:43] #86 closed

[2017-01-24 13:44] guyboertje commented on #84
Fixed by #89

[2017-01-24 13:44] #84 closed

[2017-02-14 09:34] trondvh commented on #10
+1

[2017-02-15 13:41] Steiniche commented on #32
Hello @wiibaa and @purbon can you confirm if this issue is fixed or not?
I am currently seeing this problem using logstash 5.2.1 with logstash-filter-date 3.1.3

[2017-02-28 23:18] jsvd opened #90 "discard cancelled events in multi_filter"
because of the way the pipeline handles a list/batch of events, the Filter#multi_filter(events) method will receive a list of events and some of them can already be cancelled.

Since most filters implement the `Filter#filter(event)` api, this ignoring of the cancelled events [is done automatically](https://github.com/elastic/logstash/blob/master/logstash-core/lib/logstash/filters/base.rb#L162) in

[2017-03-23 16:23] hartfordfive opened #91 "Match parameter field name of date filter doesn't support variable interpolation"
It seems that the **date** filter's first argument of the ***match*** parameter does not support interpolation.

I've had a use case where I've dynamically set the name of the field containing the date/time within the `[@metadata][time_field]` attribute  (to the value *timestamp* in my case) but unfortunately I've had to revert back to using a simple string.

Logstash Installation details:
----
-

[2017-04-01 14:55] qzhJie commented on #10
+1

[2017-04-25 22:20] ageis opened #94 "Can't load date filter."
Logstash 5.3.1, all plugins up-to-date. logstash-filter-date is installed.

[code]

[2017-04-25 23:12] ageis commented on #94
Ended up apt-get remove --purge logstash and re-installed. Now it works.

[2017-04-26 15:43] #90 closed

[2017-04-26 15:58] colinsurprenant commented on #90
fixed by #93 and published as v3.1.5

[2017-04-26 20:35] colinsurprenant commented on #94
thanks for the report @ageis - we actually spotted a problem with the date filter v3.1.4 that is actually missing jars. We yanked that version and published v3.1.5.
Could you verify which version of the plugin you have installed now after your purge and if you don't have v3.1.5, I suggest you update it.

[2017-04-28 05:09] magnusbaeck opened #95 "Date filter fails to parse timestamps"
When using the jdbc input to fetch events from a database, timestamp fields end up as timestamp fields in Logstash. One could argue that this is a feature, but it causes confusion since those fields apparently can't be processed by the date filter. Could we either call to_s on the source string or check if the source  already is a timestamp and, if so, just copy it to the destination field?

See h

[2017-04-28 06:21] jordansissel commented on #95
Hmm.. If it's already a timestamp type then maybe we should add a way to copy field values around? I'm not sure about having the date filter do this because it would focus on copying only fields with a timestamp type.

Alternately, maybe have the jdbc input allow users to specify what column should provide the `@timestamp` value?

I agree this is funky behavior and that we should make it possible

[2017-04-28 17:23] colinsurprenant commented on #94
closing this.

[2017-04-28 17:23] #94 closed

[2017-04-28 19:50] ageis commented on #94
@colinsurprenant all good. I updated to 5.3.2 today and I will just note that it's kind of annoying that I have to reinstall non-default plugins (such as `logstash-filter-multiline`, `logstash-output-riemann`) on every upgrade. It would be cool if there was some way those were preserved in the environment when Logstash is updated via apt.

[2017-05-01 20:08] colinsurprenant commented on #94
@ageis great! for the plugin update, interesting idea: I would suggest you create an issue about it in the main logstash repo!

[2017-05-07 19:59] neirbowj opened #96 "Valid RFC-3164 syslog date/time fails to parse due to erroneous DST gap"
An [RFC-3164 TIMESTAMP](https://tools.ietf.org/html/rfc3164#section-4.1.2) in the interval between 2am and 3am local time on April 2 will fail to parse. This suggests that there is a DST gap at that time. However, the UTC offset of the timestamps on either side of the gap indicate otherwise and, moreover, there shouldn't be a gap at that time in this time zone. If a year is specified, the parse su

[2017-05-07 20:22] magnusbaeck commented on #95
Or not have timestamp types at all? I like to think of Logstash as a JSON processor, and a timestamp type just doesn't fit in. Internally it's of course fine if the values are stored as timestamps, but when that is exposed to users it easily leads to confusion:

* Most plugins can't deal with them:
    * The value can't be copied to other fields.
    * The date filter can't work with it (this issu

[2017-05-16 15:10] guyboertje opened #97 "With "ISO8601" format and timezone interpolation, Joda complains at plugin startup"
`The datetime zone id '%{tz}' is not recognised` is thrown.
This combination is not catered for.

[2017-05-18 15:49] guyboertje opened #99 "Refactor Java applyString method to accept pass/fail hint"
Some date string parsing is meant to fail but the current applyString and applyStringTz only asserts success.

[2017-05-18 15:56] guyboertje commented on #66
If a interpolated string that is not a supported Timezone string we get an exception and a parse failure but it is not reported very well. e.g. `Europe/Berlim`.

[2017-05-18 15:59] #97 closed

[2017-05-18 16:19] guyboertje commented on #96
@neirbowj - This will be fixed in v 3.1.6.
The problem was with when a year was not in the pattern. We do some year guessing to determine what year a time belongs to. This was using a default year of 2000 - and surprise, DST change in 2000 for NYC was April 2.

[2017-05-18 16:23] #96 closed

[2017-05-18 16:48] guyboertje opened #100 "General problem with year guessing when processing dates around DST end dates."
This problem can be seen when time strings have no year and no timezone but are not UTC and a Time zone is specified.

The Default Year for the DateTimeFormat is now set to the current year.
Example:
America/New_York
- 2016 DST stops on November 6th.
- 2017 DST stops on November 5th.
If times for 2016 are being handled by the date filter in early 2017 then
- Times between Nov 5th 02:00:00 and Nov

[2017-05-18 23:23] neirbowj commented on #96
Ah, in bc7918f, I see. Thank you.

[2017-05-21 22:35] jnsreddy9999 opened #101 "Couldn't find any filter plugin named 'date'"
I'm trying to setup the logstash. I used the "date" filter in my config file. When I try to run the logstash, got the below error. Can someone help me to resolve this?

Error:

[2017-05-21T23:13:05,734][ERROR][logstash.plugins.registry] Problems loading a p
lugin with {:type=>"filter", :name=>"date", :path=>"logstash/filters/date", :err
or_message=>"\n\n\tyou might need to reinstall the gem which

[2017-05-22 11:24] jnsreddy9999 commented on #101
Hi All,

Can someone please help me out?

[2017-05-22 12:21] jsvd commented on #101
was this logstash installation upgraded from a previous version of logstash? can you upgrade the logstash-filter-date plugin to 3.1.5 and see if the problem persists?

[2017-05-26 20:25] ph opened #102 "JRuby 9k job failure"
https://travis-ci.org/logstash-plugins/logstash-filter-date/jobs/236449625

[code]

[2017-06-05 15:21] #102 closed

[2017-06-20 03:32] asd80703406 opened #104 "Logstash-plugin-date cover nginx time_local to @timestamp incorrect"
- Version: logstash - 5.4.0
- Operating System: CentOS release 6.6 (Final)
- Config File (if you have sensitive info, please remove it):
**input {
    file {
        path => "/mnt/nginx/access.log"
        #start_position => ""
        sincedb_path => "/tmp/.sincedb"
    }
}
filter {
    ruby {
       init => "@kname = ['remote_addr','http_x_forwarded_for','country','city','time_local','server_nam

[2017-06-20 19:40] foonix commented on #51
How about determining the ambiguity from the format string, and add an option to control disambiguation behavior?

| Format string | Unknown interval |
| - | - |
| "MMM dd YYYY HH:mm:ss" | none |
| "MMM dd HH:mm:ss" | year |
| "dd HH:mm:ss" | month |
| "HH:mm:ss" | day |
| "mm:ss" | hour |
| "ss" | minute |

| option | default | allowed |
| - | - | - |
| `default_time` | now | Time or field refere

[2017-06-26 03:03] asd80703406 commented on #104
Someone？

[2017-06-26 05:05] jordansissel commented on #104
You might find better result for this question on https://discuss.elastic.co/

I have not read the issue fully (I haven't had time to do so), but from a quick glance, it looks like this might be a configuration issue that our greater community of users could help with. It may not be a bug, I don't know, but https://discuss.elastic.co/ would be a good starting place to ask. :)

[2017-06-26 05:45] magnusbaeck commented on #95
Another user having a bad time: https://discuss.elastic.co/t/multiple-problems-with-logstash/90554

[2017-07-11 14:58] magnusbaeck commented on #95
And again: https://discuss.elastic.co/t/replace-timestamp-by-a-other-field/92488

[2017-07-12 16:01] magnusbaeck commented on #95
https://discuss.elastic.co/t/logstash-date-parse-failure-for-jdbc-input/92713

[2017-07-21 20:13] jordansissel commented on #95
I'm thinking about how we can make this not a problem for users.

My thought is that you shouldn't even want to use the Date filter, you should just be able to have the JDBC plugin store the timestamp in `@timestamp` -- thoughts?

[2017-08-07 15:16] VictorCovalski opened #105 "Wrong timestamp in Logstash pipeline causes ES to create Index"
I'm using Elastic Stack for centralized log management purposes. Filebeat is my shipper, and it's tailing system log files like Syslog. Usually things work like a charm, although every now and then syslog-ng outputs logs with erroneous timestamps, or repeats old ones. Since my environment is large and highly distributed, It is hard to fix these issues by inspecting each one of them when they ocurr

[2017-08-07 17:17] jordansissel commented on #105
You can achieve this with filters, though I personally wouldn't do this because replacing one incorrect timestamp with another incorrect timestamp seems like not solving the thing. The filters folks often use for this are a combination of mutate, date, and ruby filters.

* Use 'mutate' filter to copy the original `@timestamp` to a separate field
* Use 'date' filter as you are doing today
* Use 'ru

[2017-08-09 12:47] #105 closed

[2017-08-20 20:24] magnusbaeck commented on #95
How would the plugin know which column to store in `@timestamp`? Should it require the query to return a result set with a column named `@timestamp`? Such a column nanme wouldn't be acceptable to PostgreSQL and probably other RDBMSes.

What if the result set contains multiple columns that should be stored as timestamps in ES?

[2017-09-04 02:50] #104 closed

[2017-09-06 14:59] reiz opened #106 "Date filter only works on exact string match"
Here my setup:

- Logstash Version: 5.5.2
- Operating System: Ubuntu 16.04

My `test.conf`:

[code]

If I run this command here, it works fine:

[code]

I'm getting this output:

[code]

But if the input string contains other values beside the date it doesn't work anymore:

[code]

Output:

[code]

That looks like a bug. The lines in my log files have of course more than just the timestamp.

Any i

[2017-09-07 09:21] reiz commented on #106
It works like designed. Now I understand it.

[2017-09-07 09:21] #106 closed

[2017-10-02 14:17] tomsommer opened #108 "Apache HTTPD ISO 8601, including micro-seconds"
"ISO8601" doesn't support this format provided by Apache HTTPD:

%{cu}t | The current time in compact ISO 8601 format, including micro-seconds
https://httpd.apache.org/docs/2.4/mod/core.html#errorlogformat

returns "2017-10-02 16:10:52.118921" (example)

[2017-10-02 17:00] jordansissel commented on #108
I wonder if we should just remove the `ISO8601` shorthand. It confuses a lot of folks.

I recommend you use the format you provided instead of the `ISO8601` shorthand.

The formats the `ISO8601` shorthand supports are these:

https://github.com/logstash-plugins/logstash-filter-date/blob/bc7918f22fc0919bed8175e1b65d0d179ffc7a35/src/main/java/org/logstash/filters/parser/CasualISO8601Parser.java#L40-

[2017-10-02 17:28] tomsommer commented on #108
Duly noted, it is indeed confusing that `ISO8601` is apparently so loose, and/or open to interpretation.

[2017-10-02 17:34] jordansissel opened #109 "Remove "ISO8601" keyword shorthand"
The `match => [ "field", "ISO8601" ]` feature has been a bit confusing over the years. I think we should remove it.

### NOTE

This is not a proposal to remove ISO8601 support. It is a proposal to remove the `ISO8601` keyword from the date patterns.

---

Rough proposal:

1) Mark [CasualISO8601DateParser](https://github.com/logstash-plugins/logstash-filter-date/blob/bc7918f22fc0919bed8175e1b65d0d1

[2017-10-02 17:35] jordansissel commented on #108
Filed https://github.com/logstash-plugins/logstash-filter-date/issues/109 to discuss removing the confusing iso8601 keyword.

[2017-10-11 12:52] original-brownbear opened #110 "Build against Master is Broken"
See https://travis-ci.org/logstash-plugins/logstash-filter-date/jobs/284372666#L1089

[code]

That method isn't in `6.x` anymore and should be replaced by `toString` which it was an alias of before removal.

[2017-10-13 12:42] Mojster opened #111 "Date parsing, does not take slovene locale"
Log entry:
`SEARCH#Android#SLO#sikmb#BIB#sikmb#02-okt-2017 07:04:00.721#ADV##0#0#0#2#8#((šola AND luči)) NOT (DT=D) NOT RS=D and (DP=08 OR DP=XX) NOT NH=1`

filter part from pipeline:
[code]

My problem is, that my date `02-okt-2017 07:04:00.721` is written with using Slovenian locale
[http://www.localeplanet.com/java/sl-SI/index.html](http://www.localeplanet.com/java/sl-SI/index.html)

I've tried

[2017-10-16 08:40] Mojster commented on #111
Found a fix.

Date plugin does not suport Slovenian locale (sl, sl_SI, sl-SI) but a I found out with testing, it does support, Serbian (sr_Latn_RS) and the 3char months are identical.

[2017-10-16 14:30] mostolog opened #112 "date filter fails to parse "/" when using locale"
As described below, date filter doesn't seem to properly implement http://www.joda.org/joda-time/key_format.html when using locale.

- Version: 6.0.6rc-1
- Operating System: Ubuntu 16.04 (docker-ce 17.09)
- Config File:
[code]

- Steps to Reproduce:
The above configuration should parse field date, however it doesn't and tags "error_date"
According to a few Internet searches, it could be happening

[2017-10-16 14:40] mostolog commented on #112
Further info:

    logstash -e "input { stdin { type => stdin } } filter { mutate { add_field => { \"date\" => \"16/Oct/2017:16:27:26 +0200\" } } date { timezone => \"Europe/Madrid\" match => [\"date\", \"dd'/'MMM'/'yyyy':'HH':'mm':'ss' 'Z\"] locale => \"es\" tag_on_failure => \"error_date\" } } output { stdout { codec => rubydebug } }"

shows:

[code]

Writing "a" on input results in:
[code]

[2017-10-21 09:41] ruria opened #113 "Daylight saving-time not parsing"
Version: 5.6.3
Operating System: CentOS 7
Config File (if you have sensitive info, please remove it):
input { stdin {} }
filter {
date {
match => [ "message", "yyyy-MM-dd'T'HH:mm:ss,SSS" ]
target => "MyParsedDate"
}
}
output { stdout { codec => rubydebug }}

Sample Data:
2017-03-26T02:59:33,492
2017-03-26T12:59:33,492

Steps to Reproduce:
Launch logstash.
Logstash fails to date parse first line of

[2017-11-16 20:04] jordansissel opened #114 "Test failure due to upstream removal of Timestamp.toIsoString"
http://github.com/elastic/logstash/commit/d121c5818506fb1fba5203b8bcc14803a6c3a56c (https://github.com/elastic/logstash/pull/8130) removed an API that was used in this filter's tests.

[2017-11-16 20:31] jordansissel opened #116 "Test failure: org.logstash.Event seems to be missing."
[code]

[2017-11-16 20:33] jordansissel commented on #116
[code]

Event class is not found at runtime, but at compile-time it is.

[2017-11-16 20:41] jordansissel commented on #116
[code]

[2017-11-16 20:55] jordansissel commented on #116
This works:

[code]

Because I think it targets Logstash 5.5.1 by accident.

this works when logstash source is v5.6.4

[code]

[2017-11-28 20:52] jakelandis commented on #116
It looks like the actual class it can not find is :

[code]

It appears that since Event object is compiled against JRuby 9k (6.x+) ,but this plugin has a compile time dependency against JRuby 1.7, so when trying to create a new Event it passes compile time checks just fine, but at runtime the JRuby transitive dependencies to Event effectively gets swapping out at runtime, and boom.

Bumping the d

[2017-11-30 21:59] #114 closed

[2017-11-30 21:59] #116 closed

[2017-12-01 17:57] dmarkhas commented on #95
What's wrong with the original suggestion?
" check if the source already is a timestamp and, if so, just copy it to the destination field?"

I just hit this myself and took me a while to figure out what was going on..

[2017-12-04 13:26] Mojster opened #118 "Invalid timestamp format, but the date is formed correctly"
I'm posting here, because I've already posted this on Elastic forum and an Elastic Team member tested this and his assuming to be a bug. He found out that if he leaves the `timezone` out, then it's working.

Link to Elastic Forum topic:
[Elastic forum topic](https://discuss.elastic.co/t/invalid-timestamp-format-but-the-date-is-formed-correctly/110092/11)

I've proceed with this 352327606 records.

[2017-12-05 08:35] Mojster commented on #118
It's a DST problem.
This time does not exist.

Please fix the error message, because the message is just confusing and it does not give any hint how to solve this.

[2017-12-22 17:24] jsvd commented on #118
This error is a result from an index operation in elasticsearch, so the error message comes from elasticsearch itself, we just show that in the elasticsearch output plugin, it's unrelated to the date filter.

[2017-12-22 17:24] #118 closed

[2018-02-07 20:42] merrillbeth commented on #95
I've hit this and am not able to get my log timestamps to replace the timestamp attribute. https://discuss.elastic.co/t/date-filter/118128/6

[2018-02-12 16:01] guyboertje commented on #95
@magnusbaeck @jordansissel

The JDBC input will convert known Time-ish JDBC datatypes (Timestamp, Date) to Ruby Time objects. When these are added to the Event they are converted to internal `Event::Timestamp` instances. One of these may need to become the Event `@timestamp`.

There is one additional case to be considered - when the DB records times not in UTC. In this case one can set the `jdbc_d

[2018-02-13 19:34] jakelandis opened #121 "Enhancement: Add matches and failures to metrics"
It would be nice to be able to track on the matches and failures to match for this plugin using the Logstash metrics API.

[2018-02-13 19:39] jakelandis commented on #121
never mind ... this has already been done https://github.com/logstash-plugins/logstash-filter-date/pull/92 sorry for the noise, some mis-communication here.

[2018-02-13 19:39] #121 closed, assigned to guyboertje

[2018-02-17 08:42] Bankde opened #122 "Test suite result with 1 fail in master branch"
Commit: 4380fca5bdb50562ab4afbc02ccfee4db2f949ee (HEAD -> master, origin/master, origin/HEAD)
Operating System: Ubuntu
Ruby: jruby 9.1.13.0 (2.3.3) 2017-09-06 8e1c115 Java HotSpot(TM) 64-Bit Server VM 25.161-b12 on 1.8.0_161-b12 +jit [linux-x86_64]
Logstash: logstash-core-5.6.4

[code]

I got 'logstash-filter-date_jars.rb' from
[code]

I couldn't investigate further because I don't know what do yo

[2018-02-22 23:15] leo100 commented on #10
+1

[2018-03-07 06:52] LucidObscurity commented on #95
In case anyone is struggling with this, the solution is below. The suggested workarounds on discuss.elastic.co don't quite cut it.

[code]

This converts the date from SQL to a string, then parses it and assigns it to @timestamp. `log_date` is the column name in your SQL table.

[2018-03-21 22:01] panaman opened #123 "problem with unix epoch 2414628000"
I ran across an issue if epoch 2414628000 is applied to the date filter, it will result in a _dateparsefailure

[2018-03-23 21:46] jakelandis commented on #123
This is the [2038 problem](https://en.wikipedia.org/wiki/Year_2038_problem).  Any date past Jan 19, 2038 can't be represented as integer.

So if the epoch numeric value is greater then `2147483647` (int max) then the parse error will happen.

`2414628000` is in 2046.  If you use `UNIX_MS` and parse `2414628000` it will be Jan. 1970... but if you add the `2414628000000` it will parse correctly.  Th

[2018-03-31 19:03] yaauie opened #124 "Timezones Docs Misleading"

[2018-06-15 07:29] matejzero opened #125 "Filter doesn`t take into account daylight saving"
- Version: 5.6.9
- Operating System: CentOS 7
- Config File (if you have sensitive info, please remove it):
[code]

- Sample Data:
You can use just about and date between April and September, for example `2018-06-15 09:28:25`

- Steps to Reproduce:

It looks like Logstash doesn't take into account daylight saving time. I'm in CET zone (+0100), where we switch to CEST(+0200) in the summer.  The cur

[2018-08-07 11:15] foxracle commented on #10
+1
this kind of output is very useful for file output like this:
output {
    file {
            path => "/test/%{+YYYY-MM-dd}.log"
    }
}

[2018-09-28 14:46] deepybee opened #126 "Date filter exhibits weird behaviour in month parsing when DD is used erroneously for days instead of dd"
- Version: 6.4.1
- Operating System: CentOS 7.5 / macOS 10.13.6

The `date` filter exhibits very odd behaviour if a user erroneously uses `DD` instead of `dd` for the match pattern to parse the numeric day values.

`DD` should return an integer value of the number of the day in the year, e.g. `27` for the 27th of January, `35` for the 4th February etc.

When `DD` is erroneously placed in a pattern

[2018-09-28 14:56] deepybee commented on #126
I need to test whether this is purely a Logstash issue or if the Joda library will affect ingest pipelines too.

[2018-09-28 15:08] robbavey commented on #126
@deepybee Seems possible - looks like what is happening is `DD` is being read as the day of the year, so when the date `2018-05-15 09:29:38` is interpreted using the `yyyy-MM-DD HH:mm:ss` date format, it is being read as the 15th day of the year - ie the 15th of January - this stackoverflow question about the Joda Time library asks the same question:

https://stackoverflow.com/questions/23408529/j

[2018-10-12 06:44] neeps opened #127 "Dynamic string for timeformat in 'match'"
Hi. This is somewhat related to _Match parameter field name of date filter doesn't support variable interpolation #91_. My issue however, is that I'm trying to run a generalized pipeline for multiple types of logs. Each log may have different timeformat (and the variations are many). Ideally, i'd like to do the following:

[code]

Could this please be implemented? :+1:

[2018-10-12 06:51] neeps commented on #127
In my particular scenario, the timeFormat does not need to be an array (but rather a specific string specified earlier)

[2018-12-18 20:19] neeps commented on #127
Closing this, as i was made aware that forums are more appropriate for such feature requests.

[2018-12-18 20:19] #127 closed

[2019-01-22 12:12] guyboertje opened #128 "Ambiguous timezone abbreviations - parsing fails."
Some timezone abbreviations are ambiguous and Joda does not know which offset to use.

See https://www.timeanddate.com/time/zones/

One solution is to use mutate/gsub the abbreviation for the long form timezone, e.g. `IST` -> `Asia/Kolkata` then use a single Z in the match pattern.

I propose to add a setting `tz_abbreviation_map` so a user can supply a map so replacements to be done before the ma

[2019-04-08 18:20] nchanmala opened #129 "_dateparsefailure only on specific value 2019-03-10 02:00:00"
- Version: 5.6.3
- Operating System: RedHat 7.4
- Sample Data:  "2019-03-10 02:00:00"  will not work.
- Steps to Reproduce:

create a file with the following value:

"2019-03-10 02:00:00"

Logstash config:

input {
  beats {
    port => "5046"
  }
}

filter {
    csv {

     columns => ["UsageEndDate"]
        separator => ","

    }

date {
     match => ["UsageEndDate", "yyyy-MM-dd HH:mm:ss"]

[2019-04-10 04:39] wiibaa commented on #129
Hello, this specific timestamp does not exist due to Daylight saving time switch. So the underneath library is failing (http://joda-time.sourceforge.net/faq.html#illegalinstant) and a date parse failure is reported.

If it is something you found in your input log, I would suppose an issue regarding DST or timezone setting in the program that wrote this timestamp to begin with.
HTH

[2019-04-10 19:10] nchanmala commented on #129
Thanks Wiibaa.  I did some more looking and found out the source data was in UTC.  I changed my timezone=> "UTC" and the problem went away.

[2019-04-10 19:10] #129 closed

[2019-04-10 19:10] nchanmala commented on #129
this issue solved.

[2019-04-30 15:11] TheVastyDeep opened #130 "Parsing invalid TAI64N causes logstasth to exit"
In 6.7.1 on Linux this configuration

        mutate { add_field => { "someField" => "12345678" } }
        date { match => [ "someField", "TAI64N" ] }

causes logstash to exit with

[code]

[2019-05-13 12:01] krisATelastic opened #131 "add_field doesn't appear to work using date filter"
- Version: 6.7.x
- Operating System: Ubuntu (DEB Package)
- Config File (if you have sensitive info, please remove it):

[code]
- Sample Data: `{"date":"19/04/25","time":"10:20:34.443879"}`
- Steps to Reproduce:
Using the above configuration and data, you'll see that the [add_field](https://www.elastic.co/guide/en/logstash/current/plugins-filters-date.html#plugins-filters-date-add_field) does not

[2019-06-04 18:06] TheVastyDeep commented on #131
That is expected. add_field is one of the common options ("decoration") that is performed when a filter has successfully executed. Also, the date filter is a no-op if the field to be matched does not exist. So the filter does not successfully match the field, so it does not add_field you are asking it to match.

[2020-01-24 18:05] mpg-13 opened #133 "Date format MMMdyyyy unable to be parsed"
- Version: 7.5.1

- Operating System: RHEL7

- Config File (if you have sensitive info, please remove it):

[code]

- Sample Data:

You can use any dates in the following formats to reproduce this issue `Sep32019` and `Sep132019`

- Steps to Reproduce:

Using this config, logstash is able to properly parse out the date format `Sep132019` :
[code]
but we get _dateparsefailure for `Sep32019` :

[cod

[2020-02-16 17:30] optionals opened #134 "date filter without target will change output order"
- Version: logstash 7.6.0
- Operating System: windows
- Config File (if you have sensitive info, please remove it):

e.g:  grok  and prune

[2020-02-19 05:18] #134 closed

[2020-04-07 13:29] jasonperrone opened #136 "Output date is wrong when I use more than one date filter"
- Version: 3.1.9
- Operating System: Ubuntu 18.04LTS
- Config File (if you have sensitive info, please remove it):
[code]
- Sample Data:
[code]
- Steps to Reproduce:
As you can see I have two date filters in there. The purpose of the one to @timestamp is so that the index name will be formed correctly. The one to timestamp is so that in Elastic, the entry has a timestamp field which an application

[2020-04-07 14:29] jasonperrone commented on #136
BTW, right now it seemed the problem did not appear when I reversed order of those two date filters.

[2020-05-07 18:53] tomasgvivo opened #137 "Problem with inferred year in edge cases"
Currently, if you have logs where dates are missing the year value (for example, linux syslog files use MMM dd HH:mm:ss format), the year is automatically inferred to be the current year.

The problem with this approach is that, in some edge cases, this won't be the smartest thing to do.
For example, if a log entry is generated on Dec 31 23:59:59 (format: MMM dd HH:mm:ss) where the real year for t

[2020-06-03 09:05] yakimant opened #138 "ISO8601 Basic Format Support"
Hi guys,

I want to duplicate my question here:

I was reading ISO 8601 wiki:

And found out:
"Representations can be done in one of two formats – a basic format with a minimal number of separators or an extended format with separators added to enhance human readability."

But if I use ISO8601 date filter for the following, I get a "_dateparsefailure":
"20200602T112500+0000"

For me it looks exact

[2021-04-02 16:19] TheVastyDeep commented on #133
This is not an issue in the date filter, it is an issue in the underlying Joda library. The [builder](https://github.com/JodaOrg/joda-time/blob/890fb7b8801f7a8132464a8d558f410373918f96/src/main/java/org/joda/time/format/DateTimeFormatterBuilder.java#L775) will consume 1 or 2 digits, regardless of whether you use d or dd. So it is trying to parse September 32nd, which is not a valid date. You may b

[2021-04-02 16:43] #133 closed

[2021-08-04 19:34] Constantin07 commented on #95
The above workaround unfortunately doesn't work with JSON log files:
[code]
Any idea how to do it ?

[2021-08-04 20:32] magnusbaeck commented on #95
@Constantin07 This issue only deals with events coming from the jdbc input (or similar inputs that produce timestamp values). Parsing timestamps from JSON files is an entirely different problem. Please ask for help with that at discuss.elastic.co.

[2022-02-23 21:56] drenze-athene opened #146 "Allow date filter to utilize timezone offset format for default timezone"
# Use Case
As an Elastic Stack admin, I have logs being ingested from multiple timezones. Many of these logs do not have timezones set in the  log event. I am able to include the `event.timezone` in the log event, by setting a processor with the beat, which then returns the timezone in the format:

[code]

However I am unable to use that timezone information directly in the date filter when parsin

[2022-04-27 10:02] nerophon opened #147 "Support date array as input, map to multi-valued field"
Some use-cases have arrays of date strings that need to be converted into valid date formats.

Simple e.g.

Where "logdate": ["Aug 13 2010 00:03:44", "Aug 13 2010 06:03:44"]

Please may this plugin be improved to accept these arrays of strings as input, and produce a set of dates as output.

Output would be to fill the target field with multiple values as per https://www.elastic.co/guide/en/elasti

[2022-05-16 12:52] kesslerm opened #148 "Documented time zone handling does not match Joda-Time's time zone handling"
**Description:**

The [documentation](https://www.elastic.co/guide/en/logstash/current/plugins-filters-date.html) shows 3 different possible values for the time zone offset: `Z`, `ZZ`, and `ZZZ`. This is in line with the way Java's DateTimeFormat handles time zone offsets. However, Joda-Time (which this plugin still uses) knows only the single `Z` character.

**URL:**

https://www.elastic.co/guide

[2022-06-08 17:09] robbavey opened #149 "[Test Failure] testIsoStringsInterpolateTz is failing on Logstash 8.x"
https://app.travis-ci.com/github/logstash-plugins/logstash-filter-date/builds/244341288

[code]

[2022-07-21 11:57] yugeeklab opened #154 "Seems weird about discription of "SS""
#### Tell us about the issue

**Description:**
![스크린샷 2022-07-21 오후 8 47 11](https://user-images.githubusercontent.com/16485416/180206809-22dd6089-8b06-4f7e-920f-a44b44829ace.png)

Current Document above.

![스크린샷 2022-07-21 오후 8 47 11](https://user-images.githubusercontent.com/16485416/180207065-856b407f-c49a-4636-9f11-4d4dcd89e7ec.png)

I think this is what you want.

**URL:**

Ex